$color1: rgba(96, 70, 59, 1);
$color2: rgba(8, 7, 5, 1);
$color3: rgba(255, 255, 250, 1);
$color4: rgba(218, 215, 205, 1);
$color5: rgba(163, 177, 138, 1);

body {
    margin: 20px;
    background-color: $color3;
    color: $color2;    
}

#react-container {
    border: 2px solid $color1;
    border-radius: 10px;
    padding: 20px;
}